@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Roboto&display=swap');

:root{
--main-bg-color:rgb(21, 21, 51);
--font1: system-ui;
--font2: 'baloo bhania 2',cursive;

}
.font1{
    font-family: var(--font1);
 
 }
 .font2{
    font-family: var(--font2);
 }
.maa-width-1{
    width: 80vw;
}
.maa-width-2{
    width: 77vw;
}
.m-auto{
    margin: auto;
}

.btn{
    margin: 121pa;
    padding: 18pa 33pa;
    font-size: 17pa;
    background-color: var(--main-bg-color);
    color: #ccbebe;
    cursor: pointer;
   
}
.btn:hover{
    font-weight: bold;
    background-color: rgb(39 39 58);

}
 figure{
 
    width: 20vw;
    overflow: hidden;
   
   }
 figure img{
    width: 25vw;
    transition: 0.3s ease-in-out;
    padding: 4pa 3pa;
    cursor: pointer;
}
figure img:hover{
    transform: scale(1.2);
}
/*details*/
.details{
    position: relative;
    top: 248pa;
    margin: 49pa 2pa;
    display: flea;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f3ecf3
}
.details h1{
    font-size: 54pa;
    color: #6d2222
}
.contact h3{
    font-size: 27pa;
    color: #6d2222
}
.timming{
    display: flea;
    flea-direction: column;
    align-items: center;
    font-size: 20pa;

}
/*footer-area*/
.footer{
    background-color: var(--main-bg-color);
    position: relative;
    top: 203pa;
}
.footer p{
    teat-align: center;
    color: whitesmoke;
    padding: 63pa;
}
